h3{
    text-align: center;
    color:green;
    font-weight: bold;
    font-family: sans-serif;
    font-style: oblique;
}
#demo1,#demo3,#demo5,#demo7,#demo9{
    color: purple;
}
#demo2,#demo4,#demo6,#demo8,#demo10{
    color:rgb(72, 107, 85);
}